.intro-about {
    position: relative;

}

#section1-about{
    .ccontainer{
        .section-title.text-center{
            padding: 5rem 0 7rem 0;
        }
    }
}
.intro-img-about {
    height: 70vh !important;
}

.intro-text-about {
    position: absolute;
    left: 30%;
    top: 40%;
}

.intro-text-about {
    h2 {
        color: white;
    }

    p {
        color: white;
    }
}

.about-item {
    padding: 0 6rem;
}


#section2-about {
    padding: 4rem 0;
    position: relative;

    img {
        width: 100%;
    }
}

.about2-text {
    position: absolute;
    top: 40%;
    left: 20%;

    h1 {
        font-family: 'Regulars';
        font-size: 42px;
        line-height: 46px;
        color: white;


    }
}

.about3-items {
    li {
        padding-bottom: 4rem;
    }
}


#section4-about{
    padding: 0 3rem 5rem 0;
}
.about4-items{

}
.about4-item-bottom {
    font-family: 'Regulars';
    font-size: 18px;
    line-height: 25px;
    color: #323232;
    padding: 1rem 0;
}