#section1-account {
    padding-top: 12rem;
    padding-bottom: 4rem;
    background-color: #f5f5f5;
}

.login {
    padding: 0 5rem 0 8rem;
    border-right: 1px solid #959595;
}

.input-labels {
    font-family: 'Regulars';
    font-size: 10px;
    line-height: 15px;
    color: #7c7c7c;
    text-transform: uppercase;
    position: absolute;
    top: -20%;
}

.email-inputs {
    position: relative;
}

.password-inputs {
    position: relative;
}

.inputs {
    padding-bottom: 3rem;

    input {
        position: relative;
        outline: none;
        border: none;
        border-bottom: 1px solid #323232;
        width: 100%;
        background-color: #f5f5f5;

        &::placeholder {
            font-family: 'Regulars';
            font-size: 14px;
            line-height: 30px;
            color: #7c7c7c;
        }
    }
}

.login-button {
    font-size: 14px;
    font-family: 'Regulars';
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 35px;
    background-color: #f5f5f5;
    border: 1px solid #323232;
    transition: .5s;
    width: 100%;

    &:hover {
        background-color: #323232;
        border: 1px solid #323232;
        color: white;
    }
}

.forgot-psswrd-container {
    margin: 1rem 0;

}

.forgot-psswrd {
    font-family: 'Regulars';
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #323232;
    position: relative;

    &:hover {
        color: #323232;
    }
}

.forgot-psswrd::after {
    background: none repeat scroll 0 0 transparent;
    bottom: -5px;
    left: 0;
    content: "";
    display: block;
    height: .5px;
    position: absolute;
    background: #323232;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 100%;
}

.forgot-psswrd:hover::after {
    width: 0;
    background: gray;

}


.register {
    padding: 0 8rem 0 4rem;
}

.account-describtion {
    font-size: 14px;
    line-height: 20px;
    color: #323232;
    font-family: 'Regulars';
    padding-bottom: 2rem;
}

.subscribtion-input {
    padding-bottom: 1rem;
}

.subscribtion-input input:checked {
    background-color: #959595;
}

#subscribtion {
    width: 20px;
    height: 20px;
    margin-right: .5rem;
}

.register-button {
    color: white !important;
    background-color: #323232 !important;

    &:hover {
        color: #323232 !important;
        background-color: #f5f5f5 !important;
    }
}


@media (max-width: 576px) {
    .login{
        padding: 0 0 ;
        border-right: none;
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 2rem;
    }
    .register{
        padding: 0 0 ;
        padding-top:2rem ;
    }
    #section1-account{
        padding-top: 8rem;
    }
}