* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Titles";
    src: url(/Front/Assets/fonts/Fontspring-DEMO-wayfindercf-regular.otf);
}

@font-face {
    font-family: "Regulars";
    src: url(/Front/Assets/fonts/GraphikRegular.otf);
}

a {
    text-decoration: none;
    color: white;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        padding: 0;
        margin: 0;

        a {
            text-decoration: none;
        }
    }
}

.ccontainer {
    padding: 0 3.5rem;
}
// .custom-navbar{
//     position: relative;
// }
.navbar-font {
    font-family: 'Regulars';
    font-size: 14px;
    font-weight: 600;
    line-height: 100px;
    font-style: normal;
    text-transform: uppercase;
    color: white;
    padding: 0 1rem;
}

.top-header {
    height: 30px;
    background-color: #323232;
}

.logo-font {
    color: white;
    transition: .5s;
}

.svg-search {
    height: 20px;
}

.center-header {
    transition: .3s;
    height: 130px;
    width: 100%;
    position: fixed;
    z-index: 111111;
    &:hover {
        background-color: white;

        .navbar-font {
            color: #323232;
        }

        .logo-font {
            color: #323232;
        }
    }
}

.center-header-sticky {
    height: 80px !important;
    background-color: white;
    position: fixed;
    .navbar-font {
        color: #323232;
        line-height: 50px;
    }
    .logo-font {
        color: #323232;
        .svg-logo{
            height: 40px !important;
        }
    }
}

.introduction {
    
    overflow-x: hidden;
    z-index: -1;
}

.intro-img {
    width: 120%;
    height: 100vh;
}

.intro-title {
    transition: .5s;
    font-family: 'Titles';
    font-size: 90px;
    color: white;
    position: absolute;
    bottom: 55px;

}

.intro-text {
    &:hover {
        .intro-title {
            visibility: hidden;
            opacity: 0;
        }

        .intro-desc {
            visibility: visible;
            opacity: 1;
        }
    }
}

.intro-desc {
    transition: .1s;
    font-family: 'Titles';
    font-size: 30px;
    color: white;
    position: absolute;
    letter-spacing: -0.1px;
    bottom: 55px;
    visibility: hidden;
}

.button-container {
    padding: 2rem 3rem 7rem 3rem;
    background-color: #323232;
    position: absolute;
    bottom: -100px;
    right: 550px;
    z-index: 111;
}

.intro-button {
    font-family: 'Regulars';
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: white;
    position: relative;

    &:hover {
        color: gray;
    }
}

.intro-button::after {
    background: none repeat scroll 0 0 transparent;
    bottom: -5px;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: #ddd;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 100%;
}

.intro-button:hover::after {
    width: 0;
    background: gray;

}
.navbar-lists{
    width: 99%;
    background-color: white;
    border-top: 1px solid rgb(215, 215, 215);
    position: absolute;
    top: 100%;
    left: 0;
    gap: 2rem;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    padding: 2rem 0 3rem 6rem ;

}
.navbar-item-hover{
    &:hover{
        background-color: #ededed;
    }
}
#bestseller-navbar{
    &:hover{
        background-color: #ededed;
        .bestseller-list{
            visibility: visible;
            opacity: 1;
        }
    }
}
#shop-navbar{
    &:hover{
        background-color: #ededed;
        .shop-list{
            visibility: visible;
            opacity: 1;
        }
    }
}
#about-navbar{
    &:hover{
        background-color: #ededed;
        .about-list{
            visibility: visible;
            opacity: 1;
        }
    }
}
.category-list-items{
    font-family: 'Regulars';
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    letter-spacing: -0.1px;
    &:hover{
        color: #323232;
    }
}
.subcategory-list-items{
    font-family: 'Regulars';
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 100;
    color: #757575;
    letter-spacing: -0.1px;
    &:hover{
        color: #323232;
    }
}
.categories{
    overflow: hidden;
}



