* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Titles";
  src: url(/Front/Assets/fonts/Fontspring-DEMO-wayfindercf-regular.otf);
}

@font-face {
  font-family: "Regulars";
  src: url(/Front/Assets/fonts/GraphikRegular.otf);
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li a {
  text-decoration: none;
}

.ccontainer {
  padding: 0 3.5rem;
}

.navbar-font {
  font-family: 'Regulars';
  font-size: 14px;
  font-weight: 600;
  line-height: 100px;
  font-style: normal;
  text-transform: uppercase;
  color: white;
  padding: 0 1rem;
}

.top-header {
  height: 30px;
  background-color: #323232;
}

.logo-font {
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

.svg-search {
  height: 20px;
}

.center-header {
  -webkit-transition: .3s;
  transition: .3s;
  height: 130px;
  width: 100%;
  position: fixed;
  z-index: 111111;
}

.center-header:hover {
  background-color: white;
}

.center-header:hover .navbar-font {
  color: #323232;
}

.center-header:hover .logo-font {
  color: #323232;
}

.center-header-sticky {
  height: 80px !important;
  background-color: white;
  position: fixed;
}

.center-header-sticky .navbar-font {
  color: #323232;
  line-height: 50px;
}

.center-header-sticky .logo-font {
  color: #323232;
}

.center-header-sticky .logo-font .svg-logo {
  height: 40px !important;
}

.introduction {
  overflow-x: hidden;
  z-index: -1;
}

.intro-img {
  width: 120%;
  height: 100vh;
}

.intro-title {
  -webkit-transition: .5s;
  transition: .5s;
  font-family: 'Titles';
  font-size: 90px;
  color: white;
  position: absolute;
  bottom: 55px;
}

.intro-text:hover .intro-title {
  visibility: hidden;
  opacity: 0;
}

.intro-text:hover .intro-desc {
  visibility: visible;
  opacity: 1;
}

.intro-desc {
  -webkit-transition: .1s;
  transition: .1s;
  font-family: 'Titles';
  font-size: 30px;
  color: white;
  position: absolute;
  letter-spacing: -0.1px;
  bottom: 55px;
  visibility: hidden;
}

.button-container {
  padding: 2rem 3rem 7rem 3rem;
  background-color: #323232;
  position: absolute;
  bottom: -100px;
  right: 550px;
  z-index: 111;
}

.intro-button {
  font-family: 'Regulars';
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: white;
  position: relative;
}

.intro-button:hover {
  color: gray;
}

.intro-button::after {
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: #ddd;
  -webkit-transition: width 0.5s ease 0s, left 0.5s ease 0s;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 100%;
}

.intro-button:hover::after {
  width: 0;
  background: gray;
}

.navbar-lists {
  width: 99%;
  background-color: white;
  border-top: 1px solid #d7d7d7;
  position: absolute;
  top: 100%;
  left: 0;
  gap: 2rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  padding: 2rem 0 3rem 6rem;
}

.navbar-item-hover:hover {
  background-color: #ededed;
}

#bestseller-navbar:hover {
  background-color: #ededed;
}

#bestseller-navbar:hover .bestseller-list {
  visibility: visible;
  opacity: 1;
}

#shop-navbar:hover {
  background-color: #ededed;
}

#shop-navbar:hover .shop-list {
  visibility: visible;
  opacity: 1;
}

#about-navbar:hover {
  background-color: #ededed;
}

#about-navbar:hover .about-list {
  visibility: visible;
  opacity: 1;
}

.category-list-items {
  font-family: 'Regulars';
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  letter-spacing: -0.1px;
}

.category-list-items:hover {
  color: #323232;
}

.subcategory-list-items {
  font-family: 'Regulars';
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 100;
  color: #757575;
  letter-spacing: -0.1px;
}

.subcategory-list-items:hover {
  color: #323232;
}

.categories {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */