@model ResetPasswordVM

@{
    ViewData["Title"] = "NewPassword";
}

@await Component.InvokeAsync("DetailHeader")
<div>
    <h1 class="check-email check-email-optional">
        Enter new password and confirm it to proceed
    </h1>
    <form class="col-lg-6 col-6 mx-auto reset-email" asp-controller="account" asp-action="NewPassword" method="post">
        <input type="hidden" asp-for="Token" value="@Model.Token" />
        <div class="password-inputs inputs col-lg-12">
            <label class="input-labels" for="email">New Password</label>
            <input type="password" asp-for="Password" id="" placeholder="New Password">
            <span class="text text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="password-inputs inputs col-lg-12">
            <label class="input-labels" for="email">Confirm Password</label>
            <input type="password" asp-for="ConfirmPasword" id="" placeholder="Confirm Password">
            <span class="text text-danger" asp-validation-for="ConfirmPasword"></span>
        </div>
        <button type="submit" class="login-button">
            Change
        </button>
    </form>
</div>

@section Script{
    <partial name="_ValidationPartial" />
}