@model ResetPasswordVM

@{
    ViewData["Title"] = "ResetPassword";
}

@await Component.InvokeAsync("DetailHeader")
<div>
    <h1 class="check-email check-email-optional">
        Enter your email to get the confirmation link
    </h1>
    <form class="col-lg-6 col-6 mx-auto reset-email" asp-controller="account" asp-action="ResetPassword" method="post">
        <div class="password-inputs inputs col-lg-12">
            <label class="input-labels" for="email">your email</label>
            <input type="text" asp-for="Email" id="" placeholder="Your Email">
            <span class="text text-danger" asp-validation-for="Email"></span>
        </div>
        <button type="submit" class="login-button">
            Send
        </button>
    </form>
</div>

@section Script{
    <partial name="_ValidationPartial" />
}