
@{
    ViewData["Title"] = "Index";
}


@await Component.InvokeAsync("DetailHeader")
<div class="loader-div">
    <span class="loader-body">
        <span></span>
        <span></span>
    </span>
</div>
<div class="contact-hero">
    <img src="https://cdn.shopify.com/s/files/1/0258/7751/2297/files/customer-service_2048x2048.png?v=1631645466"
         alt="">
    <div class="contact-hero-text">
        <div class="contact-hero-title section-title">
            Customer Help
        </div>
        <div class="contact-hero-describtion section-describtion">
            If talking to a real-life human is more your thing, you can reach our Customer Happiness Team via email
            (below).
        </div>
    </div>

</div>
<div class="contact-buttons">
    <div class="contact-btn contact-btns">
        Contact
    </div>
    <div class="faq-btn contact-btns">
        FAQs
    </div>

</div>
<section id="section1-contact">
    <div class="contact1-left col-lg-4">
        <ul class="faq-list">
            <li><strong>How Can We Help?</strong></li>
            <li><a href="#contact1-faq" class="help-faqs">FAQs</a></li>
            <li><a href="#ordering-faqs" class="help-faqs">Ordering</a></li>
            <li><a href="#shipping-faqs" class="help-faqs">Shipping</a></li>
            <li><a href="#returns-faqs" class="help-faqs">Returns + Exchanges</a></li>
            <li><a href="#sustainability-faqs" class="help-faqs">Sustainability</a></li>
            <li><a href="" class="help-contact">Contact</a></li>
        </ul>
    </div>
    <div class=" sectio1-contact-wraper row g-0">

        <div class="contact1-middle col-lg-6 col-12">
            <div class="section-title">
                Contact Us
            </div>
            <form action="" method="post">
                <div class="email-inputs inputs col-lg-12">
                    <label class="input-labels" for="subject">Subject</label>
                    <input type="text" name="" id="subject" placeholder="Subject">
                </div>
                <div class="email-inputs inputs col-lg-12">
                    <label class="input-labels" for="name">Name</label>
                    <input type="text" name="" id="name" placeholder="Name">
                </div>
                <div class="email-inputs inputs col-lg-12">
                    <label class="input-labels" for="email">Email</label>
                    <input type="text" name="" id="email" placeholder="Email">
                </div>
                <div class="email-inputs inputs col-lg-12">
                    <textarea name="" id="" cols="55" rows="5" placeholder="Enter your message here..."></textarea>
                </div>
                <button class="login-button register-button contact-button">
                    submit
                </button>
            </form>
        </div>
        <div class="contact1-right col-lg-6 col-12">
            <ul class="text-start">
                <li><strong>Support hours:</strong></li>
                <li>
                    Mon-Fri 9:00am – 5:00pm PST
                    *Excludes Holidays
                </li>
                <li>Looking for more info on products, shipping, fabric, and more?</li>
                <li>
                    <div class="text-start forgot-psswrd-container">
                        <a class="forgot-psswrd" href="">view FAQ</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="contact1-faqs col-lg-12 col-12">
            <div id="contact1-faq" class="contact1-faq">
                <div class="contact1-faq-title section-title-small  ">
                    FAQs
                </div>
                <div class="section-describtion">
                    We might have already read your mind. (Feel like taking a nap? We knew it).
                </div>
                <input class="faq-input" type="text" name="" id="" placeholder="Search FAQs">
            </div>
            <div id="ordering-faqs" class="ordering-faqs">
                <div class="section-title-small">
                    Ordering
                </div>
                <div class="contact1-ordering">
                    <div class="slider-main-button section-describtion-optional d-flex justify-content-between">
                        What size should I buy<span class="contact-plus-button">+</span>

                    </div>
                    <ul class="faq-slider-list">
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                    </ul>

                </div>
                <div class="contact1-ordering">
                    <div class="slider-main-button section-describtion-optional d-flex justify-content-between">
                        What size should I buy<span class="contact-plus-button">+</span>

                    </div>
                    <ul class="faq-slider-list">
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                    </ul>

                </div>
                <div class="contact1-ordering">
                    <div class="slider-main-button section-describtion-optional d-flex justify-content-between">
                        What size should I buy<span class="contact-plus-button">+</span>

                    </div>
                    <ul class="faq-slider-list">
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                    </ul>

                </div>
                <div class="contact1-ordering">
                    <div class="slider-main-button section-describtion-optional d-flex justify-content-between">
                        What size should I buy<span class="contact-plus-button">+</span>

                    </div>
                    <ul class="faq-slider-list">
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                    </ul>

                </div>
            </div>
            <div id="shipping-faqs" class="ordering-faqs">
                <div class="section-title-small">
                    Shipping
                </div>
                <div class="contact1-ordering">
                    <div class="slider-main-button section-describtion-optional d-flex justify-content-between">
                        What size should I buy<span class="contact-plus-button">+</span>

                    </div>
                    <ul class="faq-slider-list">
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                    </ul>

                </div>
                <div class="contact1-ordering">
                    <div class="slider-main-button section-describtion-optional d-flex justify-content-between">
                        What size should I buy<span class="contact-plus-button">+</span>

                    </div>
                    <ul class="faq-slider-list">
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                    </ul>

                </div>
                <div class="contact1-ordering">
                    <div class="slider-main-button section-describtion-optional d-flex justify-content-between">
                        What size should I buy<span class="contact-plus-button">+</span>

                    </div>
                    <ul class="faq-slider-list">
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                    </ul>

                </div>
                <div class="contact1-ordering">
                    <div class="slider-main-button section-describtion-optional d-flex justify-content-between">
                        What size should I buy<span class="contact-plus-button">+</span>

                    </div>
                    <ul class="faq-slider-list">
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                    </ul>

                </div>
            </div>
            <div id="returns-faqs" class="ordering-faqs">
                <div class="section-title-small">
                    Returns and Exchanges
                </div>
                <div class="contact1-ordering">
                    <div class="slider-main-button section-describtion-optional d-flex justify-content-between">
                        What size should I buy<span class="contact-plus-button">+</span>

                    </div>
                    <ul class="faq-slider-list">
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                    </ul>

                </div>
                <div class="contact1-ordering">
                    <div class="slider-main-button section-describtion-optional d-flex justify-content-between">
                        What size should I buy<span class="contact-plus-button">+</span>

                    </div>
                    <ul class="faq-slider-list">
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                    </ul>

                </div>
                <div class="contact1-ordering">
                    <div class="slider-main-button section-describtion-optional d-flex justify-content-between">
                        What size should I buy<span class="contact-plus-button">+</span>

                    </div>
                    <ul class="faq-slider-list">
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                    </ul>

                </div>
                <div class="contact1-ordering">
                    <div class="slider-main-button section-describtion-optional d-flex justify-content-between">
                        What size should I buy<span class="contact-plus-button">+</span>

                    </div>
                    <ul class="faq-slider-list">
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                    </ul>

                </div>
            </div>
            <div id="sustainability-faqs" class="ordering-faqs">
                <div class="section-title-small">
                    Sustainability
                </div>
                <div class="contact1-ordering">
                    <div class="slider-main-button section-describtion-optional d-flex justify-content-between">
                        What size should I buy<span class="contact-plus-button">+</span>

                    </div>
                    <ul class="faq-slider-list">
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                    </ul>

                </div>
                <div class="contact1-ordering">
                    <div class="slider-main-button section-describtion-optional d-flex justify-content-between">
                        What size should I buy<span class="contact-plus-button">+</span>

                    </div>
                    <ul class="faq-slider-list">
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                    </ul>

                </div>
                <div class="contact1-ordering">
                    <div class="slider-main-button section-describtion-optional d-flex justify-content-between">
                        What size should I buy<span class="contact-plus-button">+</span>

                    </div>
                    <ul class="faq-slider-list">
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                    </ul>

                </div>
                <div class="contact1-ordering">
                    <div class="slider-main-button section-describtion-optional d-flex justify-content-between">
                        What size should I buy<span class="contact-plus-button">+</span>

                    </div>
                    <ul class="faq-slider-list">
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                        <li>Something</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
