
@{
    ViewData["Title"] = "Index";
}


<div class="d-flex justify-content-center align-items-center">
    @if (!User.Identity.IsAuthenticated)
    {
        <a class=" navbar-font" asp-area="manage" asp-controller="account" asp-action="login">login</a>
    }
    else
    {
        <ul class="cr-subdued bg-cloud navbar-account-list">
            <li><a asp-area="manage" asp-controller="account" asp-action="logout" data-location="internal">Log Out</a></li>
        </ul>
    }
</div>