@model PCSGetVM
@{ 
    var unitUpdate = Model;
}
<form asp-area="manage" asp-controller="product" asp-action="UpdateUnit" method="post">
    <div class="row justify-content-center mb-2 new-input-container">
        <div class="row col-lg-12">
            <div class="row col-lg-12 g-0">
                <div class="col-lg-1">

                </div>
                <div class="col-lg-3">
                    <label class="" asp-for="ColorId">Color</label>
                    <select asp-for="ColorId" class="form-control" required asp-items="new SelectList(ViewBag.Colors, nameof(ColorCreateVM.Id),nameof(ColorCreateVM.Name))">
                        <option value="" disabled selected>- - Select - -</option>
                    </select>

                </div>
                <div class="col-lg-1">
                    <label asp-for="SizeId">Size</label>
                    <select asp-for="SizeId" class="form-control" required asp-items="new SelectList(ViewBag.Sizes, nameof(SizeCreateVM.Id),nameof(SizeCreateVM.Name))">
                        <option value="" disabled selected>- - Select - -</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <label asp-for="CategoryId">Category</label>
                    <select asp-for="CategoryId" class="form-control" required asp-items="new SelectList(ViewBag.Categories, nameof(CategoryCreateVM.Id), nameof(CategoryCreateVM.Name))">
                        <option value="" disabled selected>- - Select - -</option>
                    </select>
                </div>
                <div class="form-group col-lg-3">
                    <label asp-for="Count">Count</label>
                    <input asp-for="Count" type="number" class="form-control" placeholder="Count">
                </div>
                <div class="col-lg-1" style="position: relative">
                    <button asp-route-id="@unitUpdate.Id" asp-route-prodId="@unitUpdate.ProductId" class="btn btn-success font-weight-bold mb-0 unit-submit" type="submit">Submit</button>
                </div>
                <div class="" style="position: absolute">
                    <a href="#" class=""><i class="fa-solid fa-xmark unit-update-close"></i></a>
                </div>
            </div>
        </div>
    </div>  
</form>


