@model Order

<div class="text text-danger" asp-validation-summary="ModelOnly"></div>
<form  id="orderform" asp-controller="order" asp-action="checkout" method="post">
    <div class="contact-info">
        <div class="section-title-small">
            Contact information
        </div>
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="section-describtion-small">
                Already have an account?<strong>
                    <a asp-controller="account" asp-action="login"
                       class="section-describtion-small"> Log In</a>
                </strong>
            </div>
        }
        else
        {

        }

        <div class="email-inputs inputs inputs-checkout">
            <label class="input-labels" for="email">Email</label>
            <input type="text" name="Email" id="email" placeholder="Email">
            <span class="text text-danger" asp-validation-for="Email"></span>

        </div>
        <div class="subscribtion-input d-flex align-items-center">
            <input id="subscribtion" type="checkbox" name="subscribtion">
            <label for="subscribtion">Email me with news and offers</label>

        </div>

    </div>
    <div class="shipping-address row g-3">
        <div class="section-title-small col-lg-12">
            Shipping Address
        </div>
        <div class="email-inputs inputs inputs-checkout col-lg-12">
            <label class="input-labels" for="country">Country / Region</label>
            <input type="text" asp-for="Country" id="country" placeholder="Country / Region">
            <span class="text text-danger" asp-validation-for="Country"></span>

        </div>
        <div class="email-inputs inputs inputs-checkout col-lg-12">
            <label class="input-labels" for="name">Full Name</label>
            <input type="text" asp-for="FullName" id="name" placeholder="First Name">
            <span class="text text-danger" asp-validation-for="FullName"></span>

        </div>
        <div class="email-inputs inputs inputs-checkout col-lg-12">
            <label class="input-labels" for="address">Address</label>
            <input type="text" asp-for="Address1" id="address" placeholder="Address">
            <span class="text text-danger" asp-validation-for="Address1"></span>

        </div>
        <div class="email-inputs inputs inputs-checkout col-lg-12">
            <label class="input-labels" for="suite">Apartment, suite, etc. (optional)</label>
            <input type="text" asp-for="Address2" id="suite" placeholder="Apartment, suite, etc. (optional)">
            <span class="text text-danger" asp-validation-for="Address2"></span>

        </div>
        <div class="email-inputs inputs inputs-checkout col-lg-4">
            <label class="input-labels" for="city">City</label>
            <input type="text" asp-for="TownCity" id="city" placeholder="City">
            <span class="text text-danger" asp-validation-for="TownCity"></span>

        </div>
        <div class="email-inputs inputs inputs-checkout col-lg-4">
            <label class="input-labels" for="state">State</label>
            <input type="text" asp-for="State" id="state" placeholder="State">
            <span class="text text-danger" asp-validation-for="State"></span>

        </div>
        <div class="email-inputs inputs inputs-checkout col-lg-4">
            <label class="input-labels" for="zipcode">ZIP code</label>
            <input type="text" asp-for="ZipCode" id="zipcode" placeholder="ZIP code">
            <span class="text text-danger" asp-validation-for="ZipCode"></span>

        </div>
        <div class="phone-inputs inputs inputs-checkout col-lg-12">
            <label class="input-labels" for="phone">Phone (optional)</label>
            <input type="text" asp-for="Phone" id="phone" placeholder="Phone (optional)">
            <span class="text text-danger" asp-validation-for="Phone"></span>

            <div class="tooltip">
                <svg class="svg-tooltip svg-tootlip-checkout" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 20 20">
                    <g>
                        <circle id="circle" fill="none" stroke="currentColor" cx="10" cy="10" r="9.5">
                        </circle>
                        <path id="question" fill="currentColor"
                              d="M9.12,12.59h1.1v-.71a3.58,3.58,0,0,1,1.32-2.4A4,4,0,0,0,13,6.73,2.59,2.59,0,0,0,10.16,4,3.16,3.16,0,0,0,7,7.28H8.16a2.05,2.05,0,0,1,2-2.14,1.47,1.47,0,0,1,1.6,1.64,3.17,3.17,0,0,1-1.09,2,4.25,4.25,0,0,0-1.54,3ZM9.64,16a1.06,1.06,0,0,0,0-2.11,1.06,1.06,0,0,0,0,2.11Z">
                        </path>
                    </g>
                </svg>
                <div class="tooltip-content tooltip-content-checkout">
                    <p class="t-b-2 cr-subdued">In case we need to contact you about your order</p>
                </div>
            </div>
        </div>
    </div>
    <div class="checkout-buttons row g-0 align-items-center">
        <div class="return-button col-lg-6">
            <a class=" d-flex align-items-center" asp-controller="basket" asp-action="index">
                <svg focusable="false" aria-hidden="true"
                     class="icon-svg icon-svg--color-accent icon-svg--size-10 previous-link__icon"
                     role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                    <path d="M8 1L7 0 3 4 2 5l1 1 4 4 1-1-4-4"></path>
                </svg>
                <span class="section-describtion section-describtion-optional">Return to cart</span>
            </a>
        </div>
        <div class="shipping-button col-lg-6">
            <button id="checkout-button" type="submit" form="orderform" class="login-button register-button" >
                continue to shipping
            </button>
        </div>
    </div>
    <div class="subscribtion-input subscribtion-input-optional d-flex align-items-start">
        <input id="subscribtion" type="checkbox" name="subscribtion">
        <label for="subscribtion">
            <strong class="subscribtion-text">Get SMS alerts about your order</strong>
            <p class="subscribtion-text">
                Stay up to date on your purchase with order confirmation and
                shipping confirmation messages
            </p>
        </label>

    </div>
</form>


@section Script{
    <partial name="_ValidationPartial" />
}