@model SizePCSVM
<div class="sizes text-center d-flex justify-content-center">
    <div>
        @foreach (var pcs in Model.ProductColorSizes)
        {
            <input class="size-input" id="" type="radio" name="SizeId" value="@pcs.SizeId" />
            <label class="size-label" for="">@pcs.Size.Name</label>
        }
        <div class="size-selection">Select a size</div>
    </div>
    <button  class="btn add-to-basket btn-mobile" type="submit">ADD TO CART</button>
</div>
