.add-pic {
    img {
        width: 100%;
    }
}

#section1-detail {
    padding-top: 10rem;
}

.separator {
    padding: 0 .3rem;
    font-size: 11px;
    font-family: 'Regulars';
    font-style: normal;
    color: #323232;
}

.detail-name {
    font-family: 'Regulars';
    font-size: 20px;
    color: #323232;
    font-weight: 400;
    line-height: 40px;
}

.detail-price {
    font-family: 'Regulars';
    font-size: 14px;
    color: #323232;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 1.5rem;
}

.small-colors-optional {
    width: 40px;
    height: 40px;
    border: .5px solid white;

    &:hover {
        border: 1px solid #323232;
    }
}

.details-shipping {
    ul {
        li {
            color: #323232;
            padding: .5rem 0;
            font-size: 13px;
            font-family: 'Regulars';
            font-style: normal;
            color: #323232;

            svg {
                width: 20px;
                height: 20px;
                margin-right: .5rem;
                color: #323232;

            }
        }
    }
}

.detail1-left {
    padding: 0 3rem 3rem 3rem;
}

.detail1-right {
    padding: 0 1rem;
}


.detail-sizes {
    padding: 1rem 0;
}

.detail-size-container {
    color: #323232;
    padding: .5rem 0;
    font-size: 12px;
    font-family: 'Regulars';
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    color: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    cursor: pointer;
    border: 1px solid #dadada;
    border-radius: 50%;
    margin-right: 1rem;

    &:hover {
        border: 1px solid #323232;

    }

}

.active-selection {
    border: 1px solid #323232;
}

.selected-size {
    height: 30px;
}

.site-navigation {
    ul {
        display: flex;
    }
}

.tooltip {
    opacity: unset;
    position: relative;

    .tooltip-content {
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        position: absolute;
        border: 1px solid #323232;
        background-color: white;
        width: 300px;
        z-index: 1111;
        top: -166px;
        left: 50px;
        padding: 1rem;

        h3 {
            font-family: 'Regulars';
            font-weight: bold;
            font-style: normal;
            text-transform: uppercase;
            color: #323232;
            font-size: 15px;
        }

        p {
            font-family: 'Regulars';
            font-style: normal;
            color: #323232;
            font-size: 12px;
        }
    }
}

.show-tooltip-content {
    opacity: 1 !important;
    visibility: visible !important;
    transition: .5s;

}

.svg-tooltip {
    position: absolute;
    top: -30px;
    left: 39%;
    width: 15px !important;

}

.details-shipping {
    padding: 2rem 0;
    border-bottom: 1px solid #dadada;
}

.toggle-list {
    display: none;
}

.slide-toggle {
    padding: 2rem 0;
    border-bottom: 1px solid #dadada;
    cursor: pointer;

}


.popup-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #0000008a;
    width: 100%;
    height: 100vh;
}

.popup-pic-list {
    z-index: 111111;
    position: fixed;
    width: 95%;
    height: 80%;
    top: 6%;
    left: 5%;
    display: none;
}

.pic-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 3%;
    cursor: pointer;

    li {
        width: 70px;
        height: 70px;
        margin-bottom: .3rem;
        border: 1px solid white;
        transition: .5s;

        img {
            width: 100%;
        }
    }
}
.add-pic{
    cursor: pointer;
}
.popup-wraper {
    transition: .5s;
    width: 95%;
    height: 90vh;
    background-image: url(https://cdn.shopify.com/s/files/1/0258/7751/2297/products/01_LUNYA-LAHGO-RUSH-2022-05-1911480-min_2048x2048.jpg?v=1654708308);
    background-size: cover;
    background-repeat: no-repeat;
}
#product-images-popup-close{
    position: absolute;
    right: 12%;
    top: 6%;
    border: none;
    background-color: unset;
    .svg-close{
        width: 20px;
        height: 20px;
    }
}
.detail1-left-mobile{
    display: none;
}
.detail1-left-mobile{
    display: none !important;
}
 
@media (max-width: 576px) {
    .site-navigation {
        display: none;
    }
    .detail1-left-mobile{
        display: block;
    }
    .detail1-left{
        display: none;
    }
    .mobile-detail-pic{
        img{
            height: 490px !important;
        }
    }
    .detail1-left-mobile{
        display: block !important;
    }
    #section1-detail{
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

}