#section1-wishlist{
    padding-top: 15rem ;
    padding-bottom: 5rem ;
}

.empty-wishlist{
    display: none;
}

.full-wishlist-links{
    a{
        svg{
            width: 20px;
            height: 20px;
        }
        margin-right: 30px;
    }
}


@media (max-width:576px) {
    #section1-wishlist{
        padding-top: 9rem ;
        padding-bottom: 2rem ;
    }   
}