
@{
    ViewData["Title"] = "Index";
}


@await Component.InvokeAsync("AboutHeader")
<div class="loader-div">
    <span class="loader-body">
        <span></span>
        <span></span>
    </span>
</div>
<section id="section1-about">
    <div class="ccontainer">
        <div class="section-title text-center col-lg-6 col-12 mx-auto">
            We believe in bringing respite to even your most routine at home activities.
        </div>
        <div class="section1-about-content">
            <div class="about-item row justify-content-between align-items-center">
                <div class="about-item-right-mobile col-lg-6 col-12">
                    <img src="https://cdn.shopify.com/s/files/1/0258/7751/2297/files/Lahgo-OurStory-StatementModule-Desktop-02_e31424cf-8370-45fb-be93-a18c1e45c025_grande.jpg?v=1633988287" alt="">

                </div>
                <div class="about-item-left col-lg-5 col-12">
                    <div class="section-describtion-wide">
                        QUALITY
                    </div>
                    <div class="section-title">
                        Premium fabrics that put you in your happy place
                    </div>
                    <div class="section-describtion">
                        With a focus on striking, zen-inducing comfort, our silhouettes are unique in design, our
                        fabrics are impossibly soft, and our pieces are made to perfection. We’ve used the power of
                        imagination to create the coziest and coolest sleepwear for men that address the things that
                        keep you up at night such as restlessness, temp control, and muscle aches, and the power of
                        sustainable technology to bring it all to life.
                    </div>
                </div>
                <div class="about-item-right col-lg-6 col-12">
                    <img src="https://cdn.shopify.com/s/files/1/0258/7751/2297/files/Lahgo-OurStory-StatementModule-Desktop-02_e31424cf-8370-45fb-be93-a18c1e45c025_grande.jpg?v=1633988287" alt="">

                </div>
            </div>
        </div>
    </div>
</section>
<section id="section2-about">
    <a href="">
        <img src="https://cdn.shopify.com/s/files/1/0258/7751/2297/files/Lahgo-Collection-Testimonial_9aeb6c32-29df-417b-bcc1-ad805d80b4ca_2048x2048.jpg?v=1634071370" alt="">
        <div class="about2-text text-center col-lg-7 col-7 mx-auto">
            <div class="section-describtion-wide" style="color: white;">
                OUR MISSION
            </div>
            <h1>We’re here to remind men that downtime is an important part of being your best.</h1>
        </div>
    </a>
</section>
<section id="section3-about">
    <div class="ccontainer">
        <ul class="about3-items">
            <li>
                <div class="about-item row justify-content-between align-items-center">
                    <div class="about-item-right col-lg-6 col-12">
                        <img src="https://cdn.shopify.com/s/files/1/0258/7751/2297/files/Lahgo-OurStory-StatementModule-Desktop-02_e31424cf-8370-45fb-be93-a18c1e45c025_grande.jpg?v=1633988287" alt="">

                    </div>
                    <div class="about-item-right-mobile col-lg-6 col-12">
                        <img src="https://cdn.shopify.com/s/files/1/0258/7751/2297/files/Lahgo-OurStory-StatementModule-Desktop-02_e31424cf-8370-45fb-be93-a18c1e45c025_grande.jpg?v=1633988287" alt="">

                    </div>
                    <div class="about-item-left col-lg-5 col-12">
                        <div class="section-describtion-wide">
                            QUALITY
                        </div>
                        <div class="section-title">
                            Premium fabrics that put you in your happy place
                        </div>
                        <div class="section-describtion">
                            With a focus on striking, zen-inducing comfort, our silhouettes are unique in design, our
                            fabrics are impossibly soft, and our pieces are made to perfection. We’ve used the power of
                            imagination to create the coziest and coolest sleepwear for men that address the things that
                            keep you up at night such as restlessness, temp control, and muscle aches, and the power of
                            sustainable technology to bring it all to life.
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="about-item row justify-content-between align-items-center">
                    <div class="about-item-right-mobile col-lg-6 col-12">
                        <img src="https://cdn.shopify.com/s/files/1/0258/7751/2297/files/Lahgo-OurStory-StatementModule-Desktop-02_e31424cf-8370-45fb-be93-a18c1e45c025_grande.jpg?v=1633988287" alt="">

                    </div>
                    <div class="about-item-left col-lg-5 col-12">
                        <div class="section-describtion-wide">
                            QUALITY
                        </div>
                        <div class="section-title">
                            Premium fabrics that put you in your happy place
                        </div>
                        <div class="section-describtion">
                            With a focus on striking, zen-inducing comfort, our silhouettes are unique in design, our
                            fabrics are impossibly soft, and our pieces are made to perfection. We’ve used the power of
                            imagination to create the coziest and coolest sleepwear for men that address the things that
                            keep you up at night such as restlessness, temp control, and muscle aches, and the power of
                            sustainable technology to bring it all to life.
                        </div>
                    </div>
                    <div class="about-item-right col-lg-6 col-12">
                        <img src="https://cdn.shopify.com/s/files/1/0258/7751/2297/files/Lahgo-OurStory-StatementModule-Desktop-02_e31424cf-8370-45fb-be93-a18c1e45c025_grande.jpg?v=1633988287" alt="">

                    </div>
                </div>
            </li>
            <li>
                <div class="about-item row justify-content-between align-items-center">
                    <div class="about-item-right-mobile col-lg-6 col-12">
                        <img src="https://cdn.shopify.com/s/files/1/0258/7751/2297/files/Lahgo-OurStory-StatementModule-Desktop-02_e31424cf-8370-45fb-be93-a18c1e45c025_grande.jpg?v=1633988287" alt="">

                    </div>
                    <div class="about-item-right col-lg-6 col-12">
                        <img src="https://cdn.shopify.com/s/files/1/0258/7751/2297/files/Lahgo-OurStory-StatementModule-Desktop-02_e31424cf-8370-45fb-be93-a18c1e45c025_grande.jpg?v=1633988287" alt="">

                    </div>
                    <div class="about-item-left col-lg-5 col-12">
                        <div class="section-describtion-wide">
                            QUALITY
                        </div>
                        <div class="section-title">
                            Premium fabrics that put you in your happy place
                        </div>
                        <div class="section-describtion">
                            With a focus on striking, zen-inducing comfort, our silhouettes are unique in design, our
                            fabrics are impossibly soft, and our pieces are made to perfection. We’ve used the power of
                            imagination to create the coziest and coolest sleepwear for men that address the things that
                            keep you up at night such as restlessness, temp control, and muscle aches, and the power of
                            sustainable technology to bring it all to life.
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<section id="section4-about">
    <div class="ccontainer">
        <div class="section-title">
            More to Explore
        </div>
        <ul class="about4-items ">
            <li class="about4-item">
                <a href="">
                    <div class="about4-item-top">
                        <img src="https://cdn.shopify.com/s/files/1/0258/7751/2297/files/L_02493-min_229b3ed6-80c5-4e7a-90aa-e74d9f0e87d0_large.jpg?v=1634072249" alt="">
                    </div>
                    <div class="about4-item-bottom">
                        Our Product
                    </div>
                </a>
            </li>
            <li class="about4-item">
                <a href="">
                    <div class="about4-item-top">
                        <img src="https://cdn.shopify.com/s/files/1/0258/7751/2297/files/L_02493-min_229b3ed6-80c5-4e7a-90aa-e74d9f0e87d0_large.jpg?v=1634072249" alt="">
                    </div>
                    <div class="about4-item-bottom">
                        Our Product
                    </div>
                </a>
            </li>
            <li class="about4-item">
                <a href="">
                    <div class="about4-item-top">
                        <img src="https://cdn.shopify.com/s/files/1/0258/7751/2297/files/L_02493-min_229b3ed6-80c5-4e7a-90aa-e74d9f0e87d0_large.jpg?v=1634072249" alt="">
                    </div>
                    <div class="about4-item-bottom">
                        Our Product
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>

